* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    touch-action: manipulation;
}

#game-name {
    font-size: 40px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#click-me-text {
    font-size: 20px;
}

.button {
    width: 100%;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 15px;
    border: none;
}

.button:focus {
    color: black;
    background-color: blanchedalmond;
}

div p {
    font-size: 40px;
}