#container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#button-container {
    display: flex;
    flex-direction: column;
}